@charset "UTF-8";

:root {
  --fonte-paragrafos: 'Roboto', Arial, sans-serif;
  --fonte-titulos: 'Great Vibes', cursive;
  --fonte-footer: 'Roboto', serif;
  --fonte-mensagem: 'Inter', serif;
  --cor-primaria: #335c67;
  --cor-secundaria: #7eada2;
  --cor-terciaria: #ff7f50;
  --cor-quaternaria: #234547;
  --cor-fonte-paragrafos: #3e3e3e;
  --cor-nossos-servicos: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--fonte-titulos);
  color: white;
  font-size: 3.5em;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: var(--fonte-paragrafos);
  color: var(--cor-fonte-paragrafos);
  font-weight: 200;
}

a {
  font-family: var(--fonte-paragrafos);
  text-decoration: none;
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: var(--cor-primaria);
  top: 0;
  padding: 0px 10px;
}

.logo-nav {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-contato-texto {
  display: none;
}

#icon-instagram,
#icon-whatsapp,
#icon-email {
	width: 1.5em;
	height: 1.5em;
}

#informacoes-contato {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  background-image: url('../imgs/bg_header.jpeg');
  background-size: cover;
  background-position: center;
}

header #apresentacao-header {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 100%;
  margin: auto;
}

header #apresentacao-header h1 {
  text-align: center;
}

header #sobre-nos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: -27%;
  gap: 30px;
  width: 100%;
  max-width: 394px;
  margin: auto;
  padding: 40px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
}

header #sobre-nos article {
  width: 100%;
  max-width: 400px;
}

header #sobre-nos h2, 
header #sobre-nos h1 {
  color: var(--cor-primaria);
  font-size: 2em;
}

section #nossos-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-nossos-servicos);
  padding-bottom: 30px;
}

#container-servicos > article > img {
  width: 38px;
}